<html>
<head>
    <title>homepage </title>
</head>
<body>




<center><h1> HOME  of the {{game}}</h1></center>
<form action="/analyze" method = 'get'>

    <textarea name= 'string' style="margin: 0px; width: 476px; height: 114px;"></textarea>

    <br><button type="submit"> wow this works</button>
    <br> remove punctuations<input type="checkbox" , name="remove_punc"> <br>
    <br> count spaces<input type="checkbox" , name="space_cnt"> <br>
    <br> UPPERCASE<input type="checkbox" , name="caps"> <br>
    <br> remove new line<input type="checkbox" , name="remove_nl"> <br>
    <br> remove extra spaces<input type="checkbox" , name="remove_sp"> <br>
    <br> count character<input type="checkbox" , name="char_cnt"> <br>

</form>




<br> <a href='http://127.0.0.1:8000/news'> news</a>

      <a href='http://127.0.0.1:8000/about'> about</a>




</body>


</html>